{% extends 'baseLogin.html' %}

{% block content %}
    <h1>Signup</h1>
    <form method="post">
{#    <form class="site-form" action = "signup" method="post">#}
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Signup">
    </form>
{% endblock %}
