{% extends "studyplanner/base.html" %}
{% block content %}


<h1>{{ m.module_name }}<br>
{{ m.module_code }}</h1>

{% if courseworks or exams %}
    {{ "click assesment to add a task" }}<br>
{% endif %}

{% if courseworks %}
    <ul><br>
        {{ "Courseworks Deadlines" }}
        {% for cw in courseworks %}
            <li><a href="{% url 'studyplanner:task_new'  m.id cw.id%}">{{ cw.cw_name}} {{ "  Deadline: " }}{{ cw.cw_deadline }}</a></li>
        {% endfor %}

    </ul>
{% endif %}

{% if exams %}
    <ul><br>
        {{ "Exam Deadline" }}
        {% for e in exams %}
            <li><a href="{% url 'studyplanner:task_new'  m.id e.id%}">{{ e.cw_name}} {{ "  Date: " }}{{ e.cw_deadline }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% if tasks %}
    <ul>
        {{ "Tasks" }}
        {% for t in tasks %}
            <li><a href="{% url 'studyplanner:edit_task'  m.id t.id%}">{{ t.task_name}}</a></li>
        {% endfor %}

    </ul>
{% endif %}

<form method="post">
    {% csrf_token %}<br>
    <button  type="submit"  name="Back" class="btn btn-success">Back</button>
</form>

{% endblock content %}