{% extends "studyplanner/base.html" %}

{% block content %}
<h1>{{ "EDIT TASK" }}</h1>

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
{% load crispy_forms_tags %}

<form  method="post">
    {% csrf_token %}
    {{ edit_form|crispy }}

    <button  type="submit"  class="btn btn-success">Save Task</button>

    <button  type="submit"  name="Cancel" class="btn btn-success">Cancel</button>
    </form>
{% endblock %}